* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgba(255, 240, 245, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navigation bar */

.container1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img{
    height: 70px;
    width: auto;
    margin-left: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    border: 1px solid white;
    background-color: white;
    margin-right: 50px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    z-index: 1000;
    padding: 10px;
    width: 80vw;
    top: 0;
    left: 0;
}

.hero {
    background-image: url('./images/beauty1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    color: blanchedalmond;
    background-size: cover;
    padding: 100px 220px;
    align-items: center;
    height: 70vh;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(162, 97, 97, 0.7);
    z-index: 1;
}

.add {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
}

.luxury h1 {
    width: 100%;
    padding: 20px;
    font-size: 60px;
    margin-bottom: 50px;
}

.nav-link{
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    font-size: large;
    color: gray;
}

h1{
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
    
.animate{
    opacity: 1;
    transform: translateY(0);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin-left: 50px;
    margin-right: 50px;
}

.image{
    overflow: hidden;
    position: relative;
    width: 30%;
    aspect-ratio: 1;
    /* height: auto; */
    border-radius: 10px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    transition: transform 0.3s ease-in-out;
}

.image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image:hover::after{
    opacity: 1;
}

.image:hover img{
    transform: scale(1.1);
}

/* Booking form container */

.container6{
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 240, 245, 0.8); 
    width: 1200px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    margin-right: 50px;
}

.appointment-form{
    float: right;
    margin-left: 30px;
}

.container6 label{
    color: rgb(172, 70, 70);
    display: flex;
    overflow: hidden;
    max-width: 2000px;
    width: 500px;
}

.para h1{
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 100%;
    color: #333;
    overflow: hidden;
}

.para{
    color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    justify-items: center;
    align-content: space-around;
    width: 500px;
    margin-top: 50px;
    line-height: 150%;
}

.appointment-form input, .appointment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 14px;
    float: right;
}
 
.appointment-form button{
    background-color: rgba(255, 240, 245, 0.8);;
    border-radius: 30px;
    padding: 15px;
    font-weight: bolder;
    color: rgb(172, 70, 70);
    border: 1px solid grey;
    cursor: pointer;
}

.appointment-form button:hover{
    background-color: #8a5a42;
    color: bisque;
}


/* footer section */

footer{
    clear: both;
    background-color: #e5b1a1;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-section h4{
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover{
    color: #8a5a42;
}

.social-icons i{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom p{
    margin-left: 50px;
    /* float: left; */
    color: white;
}

.footer-links a{
    color: white;
    float: right;
    margin-right: 50px;
    /* margin: 0 10px; */

    text-decoration: none;
}

footer{
    clear: both;
    background-color: #e5b1a1;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-section h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: "Mincho", serif;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover{
    color: #8a5a42;
}

.social-icons i{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom p{
    margin-left: 50px;
    /* float: left; */
    color: white;
}

.footer-links a{
    color: white;
    float: right;
    margin-right: 50px;
    /* margin: 0 10px; */
    text-decoration: none;
}

.social-icons .fa-instagram, .fa-youtube, .fa-x-twitter{
    color: rgb(172, 70, 70);
    padding: 10px;
} 

.fa-facebook{
    color: rgb(172, 70, 70);
    padding-left: 0;
}

.fa-location-dot, .fa-phone, .fa-envelope{
    color: rgb(172, 70, 70);
} 

.contact li{
    color: white;
}
