/* body section */

* {
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 240, 245, 0.8);
}

/* Navigation bar */

