/* body section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgba(255, 240, 245, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navigation bar */

.container1 {
    justify-content: space-between;
    align-content: space-between;
    position: sticky;
    flex-wrap: wrap;
    z-index: 1000;
    display: flex;
    left: 0;
    top: 0;  
}

.hub {
    font-family: "Birthstone", serif;
    font-size: xx-large;
    margin-top: 5px;
    color: grey;
}

nav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    border: 1px solid white;
    background-color: white;
    background: transparent;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    z-index: 1000;
    padding: 5px;
    width: 70vw;
    top: 0;
    left: 0;
}

.home,
.about,
.services,
.page,
.contact,
.gallery {
    text-decoration: none;
    font-size: large;
    color: gray;
}

:hover.home {
    background-color: grey;
    color: white;
    padding: 10px;
}

:hover.about {
    background-color: grey;
    color: white;
    padding: 10px;
}

:hover.services {
    background-color: grey;
    color: white;
    padding: 10px;
}

:hover.page {
    background-color: grey;
    color: white;
    padding: 10px;
}

:hover.contact {
    background-color: grey;
    color: white;
    padding: 10px;
}

:hover.gallery {
    background-color: grey;
    color: white;
    padding: 10px;
}

.btn {
    background-color: bisque;
    color: rgb(172, 70, 70);
    border: 1px solid grey;
    font-weight: bolder;
    border-radius: 30px;
    padding: 15px;
}

/* Hero section */

.hero {
    background-image: url('beauty12.jpg');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    color: blanchedalmond;
    background-size: cover;
    padding: 100px 220px;
    align-items: center;
    height: fit-content;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(162, 97, 97, 0.7);
    z-index: 1;
}

.add {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
}

.luxury h1 {
    width: 100%;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 50px;
}

.luxury p {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Birthstone", serif;
}

/* Row of pictures after the hero section */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: peachpuff;
    height: 550px;
}

.first,
.second,
.third {
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
    width: 400px;
    height: 400px;
    margin-top: 2px;
    border-radius: 20px;
    border: 1px solid rgb(172, 70, 70);
}

.image-container,
.products,
.inviting {
    position: relative;
    width: 400px;
}

.overlay,
.lux,
.relaxing {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    background: rgba(162, 97, 97, 0.7);
    color: white;
    /* padding: 20px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: "Birthstone", serif;
    font-size: 2em;
    font-weight: 400;
    /* z-index: 2; */
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover .first {
    filter: brightness(70%);

}

.products:hover .lux {
    opacity: 1;
}

.products:hover .second {
    filter: brightness(70%);
}

.inviting:hover .relaxing {
    opacity: 1;
}

.inviting:hover .third {
    filter: brightness(70%);
}

.button {
    padding: 20px;
    background: bisque;
    color: brown;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
    margin-top: 10px;
}

i {
    font-size: 16px;
    color: grey;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
}

/* Beauty salon section */

.salon {
    margin-top: 85px;
    color: rgb(172, 70, 70);
    font-family: "Birthstone", serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.container3 {
    border-radius: 20px;
}

.container3 h1 {
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 20px;
}

.image {
    float: right;
    height: 535px;
    width: 500px;
    margin-top: 85px;
    display: block;
    padding-right: 30px;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
    padding: 1px;
    margin-right: 5px;
}

.container3 p,
ul {
    color: grey;
    line-height: 200%;
    padding-right: 100px;
    font-size: 16px;
    margin-top: 18px;
}

/* Why choose us section */

.choose {
    margin-top: 25px;
    color: rgb(172, 70, 70);
    font-family: "Birthstone", serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
}

.container4 {
    margin-top: 200px;
}

.container4 h1 {
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.container4 p,
ul {
    color: grey;
    line-height: 200%;
    margin-left: 100px;
    padding-left: 20px;
}

.photo {
    position: relative;
    display: flex;
    flex-direction: column;
}

.left {
    float: left;
    height: 500px;
    width: 300px;
    margin-top: 25px;
    display: block;
    margin-left: 5px;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
    padding: 1px;
    margin-left: 5px;
    margin-right: 10px;
}

.next {
    float: left;
    height: 500px;
    width: 300px;
    margin-top: 145px;
    display: block;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
    padding: 1px;
    margin-left: 5px;
    margin-right: 15px;
    /* padding-right: 20px; */
}

#experience-number {
    font-size: 30px;
    color: black;
}

.experience {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid gray;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    /* margin-top: 200px; */
    text-align: center;
    margin-top: 15px;
    position: absolute;
    bottom: -304%;
    margin-left: 100px;
    background-color: white;
}

.years {
    font-weight: lighter;
    color: gray;
}

/* What we offer section */

.container5 {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-container {
    margin-top: 50px;
    color: rgb(172, 70, 70);
    font-family: "Birthstone", serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
    /* padding-left: 20px; */
}

.offers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.offer {
    position: relative;
    width: 50%;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
}

.container5 h1 {
    text-align: center;
    width: 100%;
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 20px;
    justify-items: center;
    display: flex;
    align-content: center;
}

.offer img {
    width: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
    height: 600px;
    flex-wrap: wrap;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    color: white;
    padding: 20px;
    width: 100%;
    /* text-align: center; */
    font-size: 16px;
    line-height: 1.9;
    overflow: hidden;
    white-space: normal;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 250px;
}

.text-overlay h2 {
    font-size: 16px;
    margin: 5px;
    color: black;
    font-family: "Shippori Mincho", serif;
    font-size: x-large;
}

.text-overlay p {
    font-size: 15px;
    margin: 0;
    color: black;
}

/* second picture section for what we offer */

.part2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

/* Booking form container */

.container6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 240, 245, 0.8);
    padding: 60px 20px;
}

.appointment-container{
    display: flex;
    /* background: rgba(255, 240, 245, 0.8); */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    width: 100%;
    border: 1px solid #a97155;
}

.container6 label{
    color: rgb(172, 70, 70);
}

.appointment-image{
    width: 30%;
    background: url("./images/beauty12.jpg");
    opacity: 0.8;
    height: 620px;
    overflow: hidden;
}

.appointment-content{
    width: 100%;
    padding: 40px;
}

.appointment-content h1{
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 100%;
    color: #333;
    overflow: hidden;

}

.para{
    color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    justify-items: center;
    align-content: space-around;
    width: 300px;
    margin-top: 50px;
    line-height: 150%;
}

.appointment-form input, .appointment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 14px;
    float: right;
}
 
.appointment-form button{
    background-color: rgba(255, 240, 245, 0.8);;
    border-radius: 30px;
    padding: 15px;
    font-weight: bolder;
    color: rgb(172, 70, 70);
    border: 1px solid grey;
    cursor: pointer;
}

.appointment-form button:hover{
    background-color: #8a5a42;
    color: bisque;
}

/* moving div */

.moving{
    display: flex;
    flex-direction: row;
    background-color: #8a5a42;
    height: 80px;
    padding: 20px;
    font-family: "Shippori Mincho", serif;
    font-weight: 80;
    font-size: 20px;
    overflow: hidden;
}

/* reviews */

.reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
}

.feedback{
    border: 1px solid #a97155;
    height: 400px;
    width: 300px;
    overflow: hidden;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
    background: white;
    line-height: 30px;
    margin-left: 10px;
}

.emily{
    display: flex;
    justify-content: center;
    align-items:center;
    color: rgb(172, 70, 70);
    float: right;
    /* padding-right: 50px; */
    margin-top: 100px; 
}

.client{
    justify-content: center;
    align-items:center;
    color: gray;
    margin-top: 130px;
    float: right;
    font-family: "Birthstone", serif;
    font-weight:500;
    font-size:x-large;
    overflow: hidden;
}

.container7{
    display: flex;
    flex-wrap: wrap;
}

.testimonial{
    /* display: flex; */
    float: right;
    flex-direction: column;
    margin-top: 100px;
}

.testimonial-container{
    color: rgb(172, 70, 70);
    font-family: "Birthstone", serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.container7 h1{
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 50px;
}

/* achievement counter block */
.achievements{
    display: flex;
    flex-wrap: wrap;
    background-color: peachpuff;
    justify-content: space-between;
    color: rgb(172, 70, 70);
    height: 150px;
    overflow: hidden;
}

.counter{
    font-family: "Shippori Mincho", serif;
    font-weight: 900;
    font-size: 50px;
    padding-top: 30px;
}

.below{
    font-family: "Shippori Mincho", serif;
    font-weight: 100;
    font-size: 25px;
    padding-bottom: 30px;
}

/* unlock secrets  */

.unlock-secrets{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    background-image: url("./images/beauty12.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.unlock-secrets::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(162, 97, 97, 0.7);
    z-index: 1;
}

.white-background{
    position: relative;
    background-color: white;
    justify-content: center;
    align-content: center;
    align-self: center;
    border-radius: 30px;
    width: 700px;
    height: 350px;
    z-index: 2;
}

.white-background h1{
    display: flex;
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
}

.white-background p{
    display: flex;
    padding: 20px;
    text-align: center;
    margin: 0;
    color: grey;
    font-size: 17px;
}

.discover-button{
    background-color: bisque;
    border-radius: 30px;
    padding: 15px;
    font-weight: bolder;
    color: rgb(172, 70, 70);
    border: 1px solid grey;
    cursor: pointer;
}

.discover-button:hover{
    background-color: #8a5a42;
    color: bisque;
}

/* skills and ability section */

.skills{
    flex-direction: column;
    float: left;
    margin-top: 100px;
}

.ability{
    float: right;
    width: 50%;
    height: 500px;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
}

.skills span{
    margin-top: 50px;
    color: rgb(172, 70, 70);
    font-family: "Birthstone", serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.skills h1{
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 50px;
}

.skills p{
    color: grey;
    line-height: 200%;
}

.skill{
    margin-bottom: 20px;
    text-align: left;
    max-width: 600px;
}

.progress{
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar{
    height: 100%;
    width: 0%;
    background-color: #c47b7b;
    border-radius: 5px;
    transition: width 2s ease-in-out;
}

.section2{
    float: left;
    width: 50%;
}






















/* footer */

footer{
    display: flex;
    background-color: burlywood;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

footer .copyright{
    float: left;
    padding: 10px;
}

footer .terms{
    display: flex;
    float: right;
    flex-direction: row;
}


.one, .privacy{
    border-right: 1px solid white;
    padding: 10px;
}

.cookie{
    padding: 10px;
}
