.container5 {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-container {
    margin-top: 50px;
    color: rgb(172, 70, 70);
    font-family: "Birthstone", serif;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.offers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.offer {
    position: relative;
    width: 50%;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid rgb(172, 70, 70);
}

.container5 h1 {
    text-align: center;
    width: 100%;
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 20px;
    justify-items: center;
    display: flex;
    align-content: center;
}

.offer img {
    width: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
    height: 600px;
    flex-wrap: wrap;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1.9;
    overflow: hidden;
    white-space: normal;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 250px;
}

.text-overlay h2 {
    font-size: 16px;
    margin: 5px;
    color: black;
    font-family: "Shippori Mincho", serif;
    font-size: x-large;
}

.text-overlay p {
    font-size: 15px;
    margin: 0;
    color: black;
}

/* second picture section for what we offer */

.part2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}